NEXT_PUBLIC_AUTH_URL=https://auth.iblai.org
NEXT_PUBLIC_API_BASE_URL=https://api.iblai.org
NEXT_PUBLIC_MAIN_TENANT_KEY=main
NEXT_PUBLIC_IBL_TEMPLATE_MENTOR=ai-mentor
NEXT_PUBLIC_IBL_ALLOW_FREE_TRIAL_BANNER=true
NEXT_PUBLIC_IBL_PLATFORM=mentor
NEXT_PUBLIC_IBL_ENABLE_SPECIAL_LOGO_WHEN_IFRAMED=false
NEXT_PUBLIC_MENTOR_IFRAME_URL=https://mentorai.iblai.org
NEXT_PUBLIC_BASE_WS_URL=wss://asgi.data.iblai.org
NEXT_PUBLIC_IBL_LIVE_KIT_SERVER_URL=wss://livekit.call.iblai.org
NEXT_PUBLIC_MENTOR_URL=https://mentorai.iblai.org
NEXT_PUBLIC_MENTOR_SETTINGS_DISCLAIMER=AI is capable of making mistakes. Please review all responses.
NEXT_PUBLIC_IFRAME_FROM_OLD_MENTOR=https://mentor.iblai.org
NEXT_PUBLIC_IBL_SENTRY_DSN=
NEXT_PUBLIC_HELP_CENTER_URL=https://docs.ibl.ai
NEXT_PUBLIC_SUPPORT_EMAIL=support@ibl.ai
NEXT_PUBLIC_ENABLE_GRAVATAR_ON_PROFILE_PIC=true
NEXT_PUBLIC_DEFAULT_EMBED_CSS_URL=
NEXT_PUBLIC_APP_BANNER_LINK=https://docs.ibl.ai
NEXT_PUBLIC_APP_BANNER_LINK_TEXT=Try it now
NEXT_PUBLIC_APP_BANNER_BADGE=New
NEXT_PUBLIC_APP_BANNER_TEXT=Explore our latest features for students
NEXT_PUBLIC_SHOW_APP_BANNER=true
NEXT_PUBLIC_MENTOR_TRAINING_MAXIMUM_FILE_SIZE=60
NEXT_PUBLIC_HIDE_ANALYTICS=false
NEXT_PUBLIC_SHOW_BASE_MENTOR=
NEXT_PUBLIC_STRIPE_ENABLED=true
NEXT_PUBLIC_DISABLED_DATASETS=zip|courses|google-drive|github
NEXT_PUBLIC_DISABLED_ANALYTICS_REPORTS=course|program|pathway|learner|video|user group metrics
NEXT_PUBLIC_ENABLE_ADVERTISING=true
NEXT_PUBLIC_ENABLE_RBAC=true
NEXT_PUBLIC_PLATFORM_BASE_DOMAIN=iblai.org
